@import url("https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&display=swap");
:root {
  --body-font-family: "Fredoka", sans-serif;
  --heading-font-family: "Fredoka", sans-serif;
  --body-line-height: 1.5;
  --heading-line-height: 1.1;
}

/* applying box-sizing of border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
html:focus-within {
  /* add smooth scroll to the page */
  scroll-behavior: smooth;
  hanging-punctuation: first last;
  /* new feature that allows transition/animations using keywords like auto,cover,none,fit-content etc.. */
  interpolate-size: allow-keywords;
  /* Prevent font size inflation on iOS */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  margin: 0;
  min-height: 100vh;
  line-height: var(--body-line-height);
  font-family: var(--body-font-family);
  /* text renders faster on a webpage, switch this to 'optimizeLegibility' for nicer looking text at the detriment of rendering times */
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

/* makes titles and headings wrap in a readable way */
:where(h1, h2, h3, h4) {
  text-wrap: balance;
  line-height: var(--heading-line-height);
  font-family: var(--heading-font-family);
}

/* makes paragraphs wrap in a readable way, and prevents paragraphs being too long */
:where(p, li, figcaption) {
  text-wrap: pretty;
  max-width: 75ch;
}

/* make text brake at words instead of letters at new lines */
:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

/* remove bottom border from these elements to prevent double margins and have better control over flow of the page */
:where(h1, h2, h3, h4, p, figure, blockquote, dl, dd) {
  margin-block-end: 0;
}

/* removing default styling from lists with classes */
:where(ul, ol):where([class]) {
  list-style: "";
}

/* make media elements block-level */
:where(img, svg, video, canvas, audio) {
  display: block;
  max-width: 100%;
}

/* make font elements inherit font styles (they do not by default) */
:where(input, button, textarea, select) {
  font-family: inherit;
  font-size: inherit;
}

/* give all non disabled buttons a pointer cursor */
:where(input[type=submit], button):not(:disabled) {
  cursor: pointer;
}

/* removing default link styling from anchor tags with classes */
a {
  text-decoration: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* give some height to textareas with no rows */
textarea:not([rows]) {
  min-height: 10rem;
}

/* lines up string numbers of the same lenght to take the same space */
td,
math,
time[datetime*=":"] {
  font-variant-numeric: tabular-nums;
}

/* add some marging to anchored elements */
:target {
  scroll-margin-block: 5ex;
}

/* Remove all animations and transitions for users who disable them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after,
  *:focus-within {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --clr-dark: hsl(240, 4%, 16%);
  --clr-dark-console: hsl(0, 0%, 11%);
  --clr-light: hsl(0, 0%, 100%);
  --clr-accent: hsl(0, 100%, 63%);
  --border-radius: 35px;
}

body {
  background-color: var(--clr-dark);
  display: grid;
  place-items: center;
  height: 99vh;
  counter-reset: score;
}

input[name=screen] {
  display: none;
}
input[name=screen]#screen-1:checked ~ .console__screen--screen-1, input[name=screen]#screen-2:checked ~ .console__screen--screen-2, input[name=screen]#screen-3:checked ~ .console__screen--screen-3 {
  opacity: 1;
  pointer-events: revert;
}

.console {
  width: 60%;
  height: 60vh;
  margin-inline: auto;
  border-radius: var(--border-radius);
  background-color: var(--clr-dark-console);
  padding: 1em;
  position: relative;
}
.console::after {
  --console-button-width: 3em;
  content: "";
  position: absolute;
  width: var(--console-button-width);
  aspect-ratio: 1/1;
  border-radius: 50%;
  outline: solid 1px var(--clr-light);
  right: 1.75%;
  bottom: calc(50% - var(--console-button-width) / 2);
  cursor: pointer;
}
.console__screen {
  position: absolute;
  inset: 2.5% 8% 2.5% 1.5%;
  background-image: url("../IMG/bgc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: calc(var(--border-radius) / 2);
  opacity: 0;
  pointer-events: none;
}
.console__screen--screen-1 {
  display: grid;
  place-items: center;
}
.console__screen__game {
  position: relative;
  container-type: size;
  width: 100%;
  height: 100%;
}
input[name=screen]#screen-2:checked ~ .console__screen--screen-2 .target {
  animation-play-state: running;
}
input[name=screen]#screen-2:checked ~ .console__screen--screen-2 .target:checked {
  display: none;
  animation-play-state: paused;
}
input[name=screen]#screen-2:checked ~ .console__screen--screen-3 {
  display: grid;
  place-items: center;
  animation: screenEnd 0.5s 13.75s forwards;
}
@keyframes screenEnd {
  100% {
    opacity: 1;
    pointer-events: revert;
  }
}

.target {
  --target-width: 2em;
  --target-spacing: 5px;
  position: absolute;
  appearance: none;
  background-color: var(--clr-accent);
  width: var(--target-width);
  cursor: pointer;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 0;
  box-shadow: var(--clr-light) 0px 0px 0px var(--target-spacing), var(--clr-accent) 0px 0px 0px calc(var(--target-spacing) * 2), var(--clr-light) 0px 0px 0px calc(var(--target-spacing) * 3), var(--clr-accent) 0px 0px 0px calc(var(--target-spacing) * 4);
  translate: calc(var(--translate-X) - (2em + var(--target-spacing) * 4)) calc(var(--translate-Y) - (2em + var(--target-spacing) * 4));
  scale: 0;
}
.target:nth-child(1) {
  --translate-X: 33cqi;
  --translate-Y: 40cqh;
  animation: appear 1s linear 1s forwards;
  animation-play-state: paused;
}
.target:nth-child(2) {
  --translate-X: 31cqi;
  --translate-Y: 46cqh;
  animation: appear 1s linear 2.75s forwards;
  animation-play-state: paused;
}
.target:nth-child(3) {
  --translate-X: 82cqi;
  --translate-Y: 30cqh;
  animation: appear 1s linear 3.75s forwards;
  animation-play-state: paused;
}
.target:nth-child(4) {
  --translate-X: 45cqi;
  --translate-Y: 43cqh;
  animation: appear 1s linear 4.75s forwards;
  animation-play-state: paused;
}
.target:nth-child(5) {
  --translate-X: 96cqi;
  --translate-Y: 25cqh;
  animation: appear 1s linear 5.75s forwards;
  animation-play-state: paused;
}
.target:nth-child(6) {
  --translate-X: 57cqi;
  --translate-Y: 90cqh;
  animation: appear 1s linear 6.75s forwards;
  animation-play-state: paused;
}
.target:nth-child(7) {
  --translate-X: 70cqi;
  --translate-Y: 71cqh;
  animation: appear 1s linear 7.75s forwards;
  animation-play-state: paused;
}
.target:nth-child(8) {
  --translate-X: 92cqi;
  --translate-Y: 46cqh;
  animation: appear 1s linear 8.75s forwards;
  animation-play-state: paused;
}
.target:nth-child(9) {
  --translate-X: 94cqi;
  --translate-Y: 50cqh;
  animation: appear 1s linear 9.75s forwards;
  animation-play-state: paused;
}
.target:nth-child(10) {
  --translate-X: 44cqi;
  --translate-Y: 44cqh;
  animation: appear 1s linear 10.75s forwards;
  animation-play-state: paused;
}

@keyframes appear {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
@keyframes disappear {
  from {
    scale: 1;
  }
  to {
    scale: 0;
  }
}
label,
h1 {
  margin: 0;
  display: block;
}

.title {
  color: var(--clr-dark);
  margin-bottom: 1em;
  font-size: 3rem;
}
.title span {
  color: var(--clr-accent);
}

label,
button {
  background-color: var(--clr-accent);
  color: var(--clr-light);
  border-radius: var(--border-radius);
  padding: 1em 3em;
  cursor: pointer;
  outline: 2px solid var(--clr-light);
  width: max-content;
  margin-inline: auto;
  font-weight: 600;
  border: 0;
}

.highscore {
  counter-increment: score;
  font-weight: 700;
  font-size: 3rem;
  color: var(--clr-light);
}
.highscore::after {
  content: " " counter(score);
}

/*# sourceMappingURL=style.css.map */
