@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Barrio&display=swap");

// ----------- ROOT VARIABLES -----------
:root {
  --clr-light: hsl(0, 0%, 100%);
  --clr-dark: hsl(0, 0%, 20%);
  --clr-accent: hsl(219, 56%, 53%);
  --clr-accent-2: hsl(49, 79%, 53%);
  --clr-target: hsl(0, 100%, 63%);

  --font-family: "Barrio", system-ui;
  --line-height: 1.3;

  --border-radius: 3rem;

  --text-shadow-light: 2px 2px 2px var(--clr-light);
}

// ----------- GLOBAL RESET & BASE -----------
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  counter-reset: score;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  line-height: var(--line-height);
  font-family: var(--font-family);
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

//----------- KEYFRAMES -----------
@keyframes moving {
  0% {
    left: 0%;
    bottom: 10%;
  }
  15% {
    left: 15%;
    bottom: 85%;
  }
  30% {
    left: 85%;
    bottom: 90%;
  }
  45% {
    left: 90%;
    bottom: 20%;
  }
  60% {
    left: 20%;
    bottom: 5%;
  }
  75% {
    left: 70%;
    bottom: 70%;
  }
  90% {
    left: 5%;
    bottom: 50%;
  }
  100% {
    left: 10%;
    bottom: 15%;
  }
}

@keyframes screenEnd {
  100% {
    opacity: 1;
    pointer-events: revert;
  }
}

// ----------- CONSTANTS -----------
$no-of-targets: 7;
$target-life-span: 17.5s;
$game-duration: 22.5s;

// ----------- SCREEN SWITCHING -----------
input[name="screen"] {
  visibility: hidden;

  &#screen-1:checked ~ .console__screen--screen-1,
  &#screen-2:checked ~ .console__screen--screen-2,
  &#screen-3:checked ~ .console__screen--screen-3 {
    opacity: 1;
    pointer-events: revert;
  }

  &#screen-2:checked ~ .console__screen--screen-2 .target {
    opacity: 1;
    animation-play-state: running;
  }

  &#screen-2:checked ~ .console__screen--screen-3 {
    display: grid;
    place-content: center;
    animation: screenEnd 0.5s $game-duration forwards;
  }
}

// ----------- CONSOLE SCREENS -----------
.console {
  width: 100%;
  height: 100%;
  position: relative;

  &__screen {
    position: absolute;
    inset: 0;
    background-image: url("../assets/bgc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    pointer-events: none;

    &--screen-1 {
      display: grid;
      place-items: center;
    }

    &__game {
      position: relative;
      width: 100%;
      height: 100%;
      cursor: crosshair;
    }
  }
}

// ----------- TARGETS -----------
.target {
  --width: 8em;
  --target-spacing: 20px;
  width: var(--width);
  position: absolute;
  appearance: none;
  background-color: var(--clr-target);
  cursor: crosshair;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 0;
  box-shadow:
    inset var(--clr-target) 0px 0px 0px var(--target-spacing),
    inset var(--clr-light) 0px 0px 0px calc(var(--target-spacing) * 2),
    inset var(--clr-target) 0px 0px 0px calc(var(--target-spacing) * 3);

  left: calc(var(--x-pos) * 1%);
  bottom: calc(var(--y-pos) * 1%);
  will-change: left, bottom;
  opacity: 0;
  animation-play-state: paused;
  transition: opacity 200ms ease-in-out;

  @for $o from 1 through $no-of-targets {
    &:nth-child(#{$o}) {
      --x-pos: #{math.random(60) + 25};
      --y-pos: #{math.random(60) + 25};
      $target-delay: #{math.random(70) - 100}s;
      $target-appearance-delay: #{$o}s;

      animation: moving
        $target-life-span
        cubic-bezier(0.25, 0.1, 0.25, 1)
        $target-delay
        infinite
        alternate;

      transition-delay: $target-appearance-delay;
    }
  }

  &:checked {
    animation-play-state: paused !important;
    opacity: 0.75 !important;
    transition: opacity 5ms ease-in-out;
    counter-increment: score;

    // when target is clicked show arrow sticking out of it

    // arrow
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0%;
      left: 50%;
      width: 5rem;
      height: 5.5px;
      background: var(--clr-dark);
      transform: rotate(-45deg);
      transform-origin: left center;
      border-radius: var(--border-radius);
    }

    // arrow tail
    &::before {
      content: "";
      position: absolute;
      top: -12%;
      right: -14.5%;
      width: 1.5rem;
      aspect-ratio: 1/1;
      background: var(--clr-accent-2);
      border-radius: var(--border-radius);
      z-index: 1;
      transform: rotate(45deg);
      clip-path: polygon(0 0, 51% 33%, 100% 0, 100% 44%, 53% 100%, 0 46%);
    }
  }
}

// ----------- OTHER UI ELEMENTS -----------
.title {
  color: var(--clr-accent);
  margin: 0 0 1em;
  text-align: center;
  font-size: calc(5rem + 3vmin);
  text-shadow: var(--text-shadow-light);
  text-wrap: balance;
  line-height: var(--line-height);
  font-family: var(--font-family);
  overflow-wrap: break-word;

  span {
    color: var(--clr-accent-2);
  }
}

.button {
  margin: 0 auto;
  display: block;
  background-color: var(--clr-accent);
  color: var(--clr-light);
  border-radius: var(--border-radius);
  padding: 0.5em 1.25em;
  font-size: calc(1.75rem + 0.5vmin);
  cursor: pointer;
  font-family: var(--font-family);
  outline: 3px solid var(--clr-light);
  width: max-content;
  border: 0;

  transition: all 350ms ease-in-out;

  &:hover,
  &:focus-within {
    transform: translateY(-2px);
  }
}

.score {
  font-size: calc(3rem + 3vmin);
  &::before {
    content: "Time's up! You hit " counter(score) " target(s).";
  }
}
